:root {
    --blanco: #ffffff;
    --gris1: #FAFAFA;
    --grisClaro: #F3F4F6;
    --azulGris: #9698A6;
    --azul1: #2D314D;
    --verde: #31D35C;
    --boton: #81e2af;
    --celeste: #2BB7DA;
  }
  @font-face {
    font-family: 'public_sansbold';
    src: url('../fonts/publicsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/publicsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'public_sanslight';
    src: url('../fonts/publicsans-light-webfont.woff2') format('woff2'),
         url('../fonts/publicsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'public_sansregular';
    src: url('../fonts/publicsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/publicsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

@media(max-width: 411px){
    #container {
        width: 375px;
        margin: 0 auto;
        background: var(--blanco);
    }
    /*encabezado---------------------------------------------------------------------------------------------*/
    .header{
        width: 360px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .call-home{
        display: none;
      }
      .topnav {
        flex-basis: 100%;
      }
      
      .topnav a {
        float: left;
        display: block;
        color: var(--azul1);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        font-family: "public_sansregular";
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: white;
      }
      
      .topnav a.logo {
        flex-basis: 2%;
      }
      
      .topnav .icon {
        display: none;
      }
      
      @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {display: none;}
        .topnav a.icon {
          float: right;
          display: block;
        }
      }
      
      @media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .topnav.responsive a{
          float: none;
          display: block;
          text-align: center;
        }
      }
      /*cont1---------------------------------------------------------------------------------------------*/
      .cont1{
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .contenido{
        display: flex;
        flex-basis: 50%; 
        flex-direction: column;
        align-items: center;
        order: 2;
      }
      
      .titulo{
        color: var(--azul1);
        font-size: 45px;
        text-align: center;
        font-family: "public_sanslight" !important;
        line-height: 52px;
      }
      
      .parrafo{
        margin-top: -2%;
        font-size: 16px;
        text-align: center;
        color: var(--azulGris);
        font-family: "public_sanslight" !important;
      }
      
      .btn-principal{
        display: flex;
        flex-basis: 100%;
        align-self: center;
        font-size: 9pt;
        margin-top: 3%;
        margin-bottom: 10%;
        background: var(--boton);
        border: none;
        padding: 12px 37px 12px 37px;
        border-radius: 20px;
        color: var(--blanco);
      }
      
      .cont-img{
        display: flex;
        flex-basis: 50%; 
        order: 1;
      }  
      .desktop{
        display: none;
      }
      .iPad{
        display: none;
      }
      /*cont2---------------------------------------------------------------------------------------------*/ 
      .cont2{
        width: 360px;
        background: var(--grisClaro);
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .contenido-cont2{
        align-items: center;
      }
      
      .pregunta ,.titulo-Cont3{
        color: var(--azul1);
        font-size: 35px;
        text-align: center;
        font-family: "public_sanslight" !important;
      }
      
      .parrafo-cont2{
        color: var(--azulGris);
        text-align: center;
        font-family: "public_sanslight" !important;
        margin-bottom: 15%;
      }
      .options{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
      }
      
      .descripcion2{
        margin-top: 2%;
      }
      
      .img-cont2{
        width: 80px;
        margin: auto;
      }
      
      .titulo1{
        color: var(--azul1);
        font-size: 20px;
        text-align: center;
        font-family: "public_sanslight" !important;
      }
      
      .parafoDescripcion1{
        color: var(--azulGris);
        text-align: center;
        font-family: "public_sanslight" !important;
      }
      /*cont3---------------------------------------------------------------------------------------------*/
      .cont3{
        width: 360px;
        background: var(--gris1);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        margin-bottom: 10%;
      }
      
      .card1{
        width: 236.88px;
        background: var(--blanco);
        text-decoration: none;
      }
      
      .card2{
        width: 236.88px;
        background: var(--blanco);
        text-decoration: none;
        margin-top: 10%;
      }
      
      .card1 img{
        width: 100%;
        height: 100%;
      }
      .card2 img{
        width: 100%;
        height: 100%;
      }
      
      .content{
        margin-left: 10%;
        margin-right: 2%;
        font-family: "public_sanslight" !important;
      }
      
      .name {
        margin-top: 13%;
        font-size: 8pt;
        color: var(--azulGris);
      }
      
      .titulo-Conte3 a{
        text-decoration: none;
        font-size: 14pt;
        line-height: 5px;
        color: var(--azul1);
        
      }
      
      .parrafo-Cont3{
        font-size: 11pt;
        color: var(--azulGris);
      }
       /*cont4---------------------------------------------------------------------------------------------*/
       .cont4{
        width: 360px;
        background: var(--azul1);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .cont4{
        display: flex;
        flex-basis: 100%;
      }
      
      .footer{
        display: flex;
        width: 200px;
        flex-direction: column;
        justify-content: center;
        margin-top: 10%;
      }

      #logo2{
        align-self: center;
      }

      .ico{
        width: 180px;
        align-self: flex-end;
        margin-top: 10%;
      }
      
      .ico a{
        margin-right: 6%;
      }

      
      
      #menu-cont4_1 ul li,#menu-cont4_2 ul li{
        text-decoration: none;
        position: relative;
        display: inline-block;
        margin-top: 20%;
      }

      #menu-cont4_1, #menu-cont4_2{
        display: flex;
        flex-direction: column;
        width: 140px;
        flex-basis: 1fr;
        align-self: center;
        flex-wrap: wrap;
      }

      #menu-cont4_2{
        margin-top: -8%;
        margin-bottom: 5%;
      }
      #menu-cont4_1 ul li a, #menu-cont4_2 ul li a {
        text-decoration: none;
        font-size: 10pt;
        color: var(--blanco);
        font-family: "public_sanslight";
        
      }
      
      .boton{
        display: flex;
        flex-direction: column;
        flex-basis: 48%;
        align-items: flex-end;
        align-self: center;
        margin-bottom: 10%;
      }
      
      .call{
        font-size: 9pt;
        background: var(--boton);
        border: none;
        padding: 10px 37px 10px 37px;
        border-radius: 20px;
        color: var(--blanco);
        align-self: center;
      }
      
      .nam{
        font-size: 12pt;
        color: var(--azulGris);
        font-family: "public_sanslight" !important;
      }
    }